body {
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(90deg, rgb(5, 250, 160), turquoise);
    background-color: white;
    color: white;
    text-align: center;
}


.navbar {
    background-color:white;
    color: white;
    font-size: 50px;
    padding: 20px;
    margin: 0px, 0px;
}

.navbar .name {
    background-image: linear-gradient(90deg, rgb(5, 250, 169), turquoise);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    margin-bottom: 20px;
    
}

.navbar .logo {
    width: 50px;
    height: 50px;
}

.search {
    margin-top: 50px;
    background-image: linear-gradient(90deg, white, white);
    border-color: darkgreen;
    font-size: 20px;
    color: turquoise;
    border-width: 3px;
}

.search.button {
    cursor: pointer;
}

.popup-container {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.popup-title {
    background-color: white;
    color: turquoise;
    font-size: 28px;
    padding: 30px;
    border-color: black;
}

.settings-button {
    background-color: transparent;
    color: white;
    border: 0px;
    font-size: 24px;
    padding: 10px;
    font-weight: 2px;
    flex-basis: 100%;
    cursor: pointer;
}


#websites {
    font-size: 25px;
    line-height: 50px;
    color: black;
}

li:hover {
    opacity: 40%;
    cursor: pointer;
    background-image: url("images/x-mark.png");
    background-size: 30px;
}

.search.button:hover {
    color: black;
}

li {
    padding: 0px 0px 0px 0px;
    list-style: none;
    background-image: url("images/checkmark.png");
    background-repeat: no-repeat;
    background-position: 70%;
    background-size: 40px;
}

p {
    color: black;
    font-size: 16px;
}