body {
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(90deg, rgb(5, 250, 160), turquoise);
    text-align: center;
}


.navbar-container {
    background-color:white;
    font-size: 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title {
    background-image: linear-gradient(90deg, rgb(5, 250, 169), turquoise);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    margin-bottom: 20px;
    
}

.logo {
    width: 50px;
    height: 50px;
}

.form-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.search {
    background-color: white;
    border-color: darkgreen;
    font-size: 20px;
    color: turquoise;
    border-width: 3px;
    margin-bottom: 10px;
}

.button {
    cursor: pointer;
}

.button:hover {
    color: black;
}

.message {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}

.website-container {
    display: flex;
    justify-content: center;
    color: black;
}

#websites {
    font-size: 22px;
    line-height: 40px;
    padding: 0px;
    margin: 0px;
}

li:hover {
    opacity: 40%;
    cursor: pointer;
    background-image: url("images/x-mark.png");
    background-size: 30px;
}


li {
    padding: 0px 100px 0px 100px;
    list-style: none;
    background: url(images/checkmark.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 40px;
    display: flex;
    justify-content: center;
}

p {
    color: black;
    font-size: 16px;
}